<%= render "shared/navbar" %>
<%= render "shared/banner" %>

<div class="form-container">
  <%= simple_form_for [@list] do |f| %>
    <%= f.input :name %>
    <%= f.input :image_url %>
    <%= f.submit "Save list", class: "btn btn-primary" %>
  <% end %>
</div>
<br>
<br>
