<%= link_to "Add new bookmark", new_list_bookmark_path(@list) %>
<% @list.bookmarks.each do |bookmark| %>
  <h3><%= bookmark.movie.title %></h1>
  <p><%= bookmark.movie.overview %></p>
  <img src="<%= bookmark.movie.poster_url %>" alt="">
  <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% end %>
